{% extends 'main_layout.html.twig' %}

{% block page_title %}
	{{ data.title }}
{% endblock %}

{% block navigation %}
	{% for item in data.navigation %}
	<li><a href="#">{{ item.text }}</a></li>
		{#
		{% if value.items == null %}
			<li><a href="#">{{ item.text }}</a></li>
        {% elseif value.items != null %}
        	<li class="dropdown"><a href="#">{{ item.text }}</a>
				<div class="dropdown-content">
					{% for item in value.items %}
						<a href="#">{{ item.text }}</a>
					{% endfor %}
				</div>  
        	</li>
        {% endif %}
		#}
	{% endfor %}
{% endblock %}

{% block page_main %}
	<h1>Bla bla</h1>
	{{ data.title }}
{% endblock %}
