{% extends 'main_layout.html.twig' %}

{% block page_title %}
	{{ data.title }}
{% endblock %}

{% block navigation %}
	{% for item in data.navigation %}
	
		{% if item.items == null %}
			<li><a href="#">{{ item.text }}</a></li>
        {% elseif item.items != null %}
        	<li class="dropdown"><a href="#">{{ item.text }}</a>
				<div class="dropdown-content">
					{% for subitem in item.items %}
						<a href="#">{{ subitem.text }}</a>
					{% endfor %}
				</div>  
        	</li>
        {% endif %}
		
	{% endfor %}
{% endblock %}

{% block page_main %}
	<h1>{{ data.title }}</h1>
	
{% endblock %}
