{% extends 'main_layout.html.twig' %}

{% block page_title %}
	{{ data.title }}
{% endblock %}

{% block navigation %}
	{% for item in data.navigation %}
	
		{% if item.items == null %}
			<li><a href="#">{{ item.text }}</a></li>
        {% elseif item.items != null %}
        	<li class="dropdown"><a href="#">{{ item.text }}</a>
				<div class="dropdown-content">
					{% for subitem in item.items %}
						<a href="#">{{ subitem.text }}</a>
					{% endfor %}
				</div>  
        	</li>
        {% endif %}
		
	{% endfor %}
{% endblock %}

{% block main_page_title %}
	{{ data.title }}
{% endblock %}

{% block products %}
	{% for item in data.products %}
		<div class="card">
			<img src="{{item.image.thumbnail}}" alt="">
			<div class="card_title">
				<h3>{{ item.name }}</h3>
			</div>
			<div class="card_desc">
				<p>
				{{ item.description }}
				</p>
			</div>
			<div class="card_bottom">

			{% if item.favorite == true %}
				<div class="favorite">
					<svg>
						<use href="/icons/icons.svg#icon-heart"></use>
					</svg>
				</div>
			{% elseif item.favorite == false %}
				<div class="no_favorite">
					<svg>
						<use href="/icons/icons.svg#icon-heart-outlined"></use>
					</svg>
				</div>
			{% endif %}

				<div class="card_price">

				{% if item.specialPrice is not null %}
					<div class="card_old-price">
						<p>{{ item.regularPrice }}</p>
					</div>
					<div class="card_new-price">
						<p>{{ item.specialPrice }}</p>
					</div>
				

				{% elseif item.specialPrice is null %}
					<div class="card_new-price">
						<p>{{ item.regularPrice }}</p>
					</div>
				{% endif %}
				</div>
			</div>
			</div> 
	{% endfor %}
{% endblock %}
